{% extends "base.html.twig" %}

{% block content %}
    <div>
        <h1>Bienvenido a caserista</h1>
        <h2>Encuentra tu casa, o registrate y vendela!</h2>
        <img src="https://img.freepik.com/vector-gratis/plantilla-pegatina-mini-casa-aislada_1308-60687.jpg?size=626&ext=jpg" height="400">
    </div>
{% endblock %}
