{% extends "base.html.twig" %}

{% block content %}

    <h2>Regístrate:</h2>

    {% for message in app.flashes("exito") %}
        <p>{{ message }}</p>
    {%  endfor %}

    {{ form(userForm) }}

{% endblock %}
